---
import { Icon } from "astro-icon";
import ProjectList from "../components/ProjectList.astro";
import RolPill from "../components/RolPill.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../../db/projects.json";

import PrimaryAnchor from "../components/PrimaryAnchor.astro";
import { getAllSkillsInOneArray } from "../utils/getAllSkillsInOneArray";
import Skill from "../components/Skill.astro";
import PresentationCard from "../components/PresentationCard.astro";
import PersonalDataCard from "../components/PersonalDataCard.astro";
import { NumberOfRepos } from "../components/NumberOfRepos";
import Section from "../components/Section.astro";
import HomeNav from "../components/HomeNav.astro";
import Footer from "../components/Footer.astro";

const allSkills = getAllSkillsInOneArray();
---

<BaseLayout>
  <HomeNav />
  <header
    class="backgroundPer px-6 sm:px-12 md:px-16 lg:px-28 xl:px-32 2xl:px-40 flex flex-col lg:flex-row items-center pt-20"
  >
    <div
      class="flex flex-col gap-5 flex-1 items-center text-center lg:items-start lg:text-start"
    >
      <div class="flex">
        <RolPill>
          <Icon name="mdi:xml" class="w-4" />
          Fullstack Developer
        </RolPill>
      </div>
      <h1
        class="text-[2.5rem] sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold"
      >
        Hi, my name is Francesco Alterio
      </h1>
      <div class="h-2 w-16 bg-primaryLight"></div>
      <p
        class="text-gray-300 text-base sm:text-lg md:text-xl lg:text-lg xl:text-xl 2xl:text-2xl"
      >
        I am a Fullstack developer currently based in Cumaná, Venezuela.
      </p>
      <div class="flex gap-2"></div>
    </div>
    <img
      src="/assets/presentation.png"
      alt=""
      class="lg:w-[25rem] xl:w-[32rem] 2xl:w-[38rem]"
      loading="eager"
    />
  </header>
  <main class="">
    <Section
      background="dark"
      className=" pt-6 sm:pt-12 md:pt-16 lg:pt-36 flex gap-12 lg:gap-20 xl:gap-32 2xl:gap-48 pb-[28rem] sm:pb-[34rem] md:pb-56 flex-col lg:flex-row"
      id="about"
    >
      <div class="flex flex-col flex-1 gap-2">
        <PresentationCard
          title="Teamwork"
          description="Teamwork is essential for greater business and personal achievement."
          secondDescription="Francesco Alterio"
          icon="ri:team-fill"
        />
        <PresentationCard
          title="Love for learning"
          description="The love of learning is what makes a true programmer."
          secondDescription="Francesco Alterio"
          icon="ic:outline-menu-book"
        />
        <PresentationCard
          title="Adaptability"
          description="Adapting to new environments is easy if you love what you do."
          secondDescription="Francesco Alterio"
          icon="ic:outline-work"
        />
      </div>
      <div
        class="flex-1 flex flex-col text-center lg:text-left gap-4 lg:gap-8 xl:gap-10"
      >
        <p class="text-xs text-gray-400">Introduce</p>
        <h2 class="lg:text-5xl xl:text-6xl font-semibold">
          Hi, welcome to my portfolio
        </h2>
        <p class="text-2xl italic">Every dream begins with a story</p>
        <div class="flex flex-col gap-2">
          <p class="text-gray-400 text-sm leading-7">
            My name is Francesco Alterio and I'm a Fullstack developer. I
            started in the Web programming world at the beginning of 2021 and
            since then I have created more than 20 projects with different
            technologies. When I discovered software development I found my
            great passion, a world full of wonderful possibilities.
          </p>
          <p class="text-gray-400 text-sm leading-7">
            My first encounter with programming was in 2020 when I decided to
            get into video game programming as a hobby, a year later I wanted to
            take software development professionally, choosing web programming
            as my starting point.
          </p>
        </div>
      </div>
    </Section>
    <Section
      background="light"
      className="relative py-10 flex flex-col gap-16 pt-[28rem] sm:pt-[34rem] md:pt-56"
      id="projects"
    >
      <div
        class="absolute top-[-22.25rem] sm:top-[-28.25rem] md:top-[-6.5rem] lg:top-[-9rem] left-0 flex gap-5 w-full flex-col md:flex-row items-center md:justify-center"
      >
        <PersonalDataCard icon="mdi:github">
          <p class="sm:text-2xl md:text-lg lg:text-2xl font-semibold">
            More than {20 || <NumberOfRepos client:load />} repos
          </p>
          <a
            href="https://github.com/francescoalterio"
            target="_blank"
            class="text-xs sm:text-sm underline text-gray-400">Go to github</a
          >
        </PersonalDataCard>
        <PersonalDataCard primary icon="mdi:code-braces">
          <p class="sm:text-2xl md:text-lg lg:text-2xl font-semibold">
            More than <span>{projects.length}</span> projects
          </p>
          <a
            href="/projects/all"
            class="text-xs sm:text-sm underline font-semibold">See all</a
          >
        </PersonalDataCard>
        <PersonalDataCard icon="mdi:youtube">
          <p class="sm:text-2xl md:text-lg lg:text-2xl font-semibold">
            Youtube channel
          </p>
          <a
            href="https://www.youtube.com/@francescox5989/videos"
            target="_blank"
            class="text-xs sm:text-sm underline text-gray-400">Go to youtube</a
          >
        </PersonalDataCard>
      </div>
      <div class="flex justify-center md:justify-between items-center">
        <h2 class="text-3xl sm:text-4xl">My Favorite Projects</h2>
        <div class="hidden md:block">
          <PrimaryAnchor bgColor="primaryLight" href="/projects/all">
            See All
          </PrimaryAnchor>
        </div>
      </div>
      <ProjectList projectFilter="isFavorite" />
      <div class="w-full flex">
        <PrimaryAnchor bgColor={"customGray-100"} href="/projects/all">
          See all projects
        </PrimaryAnchor>
      </div>
    </Section>
    <Section
      background="dark"
      className="py-10 flex flex-col gap-10 items-center"
      id="skills"
    >
      <h2 class="text-4xl my-5">Skills</h2>
      <div class="flex flex-wrap gap-10 justify-center">
        {
          allSkills.map(({ name, fileName, documentationURL, type }) => (
            <Skill
              name={name}
              fileName={fileName}
              documentationURL={documentationURL}
              type={type}
            />
          ))
        }
      </div>
    </Section>
  </main>
  <Footer />
</BaseLayout>
