---
import { Icon } from "astro-icon";
import ProjectList from "../components/ProjectList.astro";
import RolPill from "../components/RolPill.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../../db/projects.json";

import PrimaryAnchor from "../components/PrimaryAnchor.astro";
import { getAllSkillsInOneArray } from "../utils/getAllSkillsInOneArray";
import Skill from "../components/Skill.astro";
import PresentationCard from "../components/PresentationCard.astro";
import PersonalDataCard from "../components/PersonalDataCard.astro";
import { NumberOfRepos } from "../components/NumberOfRepos";
import Section from "../components/Section.astro";
import HomeNav from "../components/HomeNav.astro";
import Footer from "../components/Footer.astro";
import CourseList from "../components/CourseList.astro";
import RoundedAnchor from "../components/RoundedAnchor.astro";

const allSkills = getAllSkillsInOneArray();
---

<BaseLayout
  HeadData={{
    title: "Francesco Alterio | Portfolio",
    description: "All projects and skills of Francesco Alterio | Portfolio",
    ogTitle: "Francesco Alterio | Portfolio",
    ogDescription: "All projects and skills of Francesco Alterio",
    ogURL: "https://francescoalterio.tech/",
    ogImage: "https://francescoalterio.tech/presentation.png",
  }}
>
  <HomeNav />
  <header class="backgroundPer">
    <div
      class="px-6 sm:px-12 md:px-16 flex flex-col lg:flex-row items-center pt-20 max-w-screen-xl mx-auto"
    >
      <div
        class="flex flex-col gap-5 flex-1 items-center text-center lg:items-start lg:text-start"
      >
        <h1
          class="text-[2.5rem] sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl font-bold"
        >
          Hola, mi nombre es Francesco Alterio.
        </h1>
        <div class="h-2 w-16 bg-primaryLight"></div>
        <p
          class="text-gray-300 text-base sm:text-lg md:text-xl lg:text-lg xl:text-xl 2xl:text-2xl"
        >
          Soy un desarrollador Fullstack actualmente radicado en Cumaná,
          Venezuela.
        </p>
        <div class="flex gap-3">
          <RoundedAnchor href="">
            <Icon name="mdi:github" class="w-7 h-7 inline-block text-white" />
          </RoundedAncho>
          <RoundedAnchor href="">
            <Icon name="mdi:linkedin" class="w-7 h-7 inline-block text-white" />
          </RoundedAncho>
          <RoundedAnchor href="">
            <Icon name="mdi:twitter" class="w-7 h-7 inline-block text-white" />
          </RoundedAncho>
        </div>
      </div>
      <img
        src="/assets/presentation.webp"
        alt=""
        class="lg:w-[25rem] xl:w-[32rem] 2xl:w-[38rem]"
        loading="eager"
      />
    </div>
  </header>
  <main class="">
    <Section
      background="dark"
      className=" pt-10 sm:pt-12 md:pt-16 lg:pt-36 flex gap-12 lg:gap-20 xl:gap-32 2xl:gap-48 pb-[28rem] sm:pb-[34rem] md:pb-56 flex-col lg:flex-row"
      id="about"
    >
      <div class="flex flex-col flex-1 gap-2">
        <PresentationCard
          title="Trabajo en equipo"
          description="El trabajo en equipo es esencial para un mayor logro empresarial y personal."
          secondDescription="Francesco Alterio"
          icon="ri:team-fill"
        />
        <PresentationCard
          title="Amor por aprender"
          description="El amor por aprender es lo que hace a un verdadero programador."
          secondDescription="Francesco Alterio"
          icon="ic:outline-menu-book"
        />
        <PresentationCard
          title="Adaptabilidad"
          description="Adaptarse a nuevos entornos es fácil si amas lo que haces."
          secondDescription="Francesco Alterio"
          icon="ic:outline-work"
        />
      </div>
      <div
        class="flex-1 flex flex-col text-center lg:text-left gap-4 lg:gap-8 xl:gap-10"
      >
        <p class="text-xs text-gray-400">Introducción</p>
        <h2 class="lg:text-5xl xl:text-6xl font-semibold">
          Hola, bienvenido a mi portafolio.
        </h2>
        <p class="text-2xl italic">Cada sueño comienza con una historia.</p>
        <div class="flex flex-col gap-2">
          <p class="text-gray-400 text-sm leading-7">
            Mi nombre es Francesco Alterio y soy desarrollador Fullstack.
            Comencé en el mundo de la programación Web a principios de 2021 y
            desde entonces he creado más de 20 proyectos con diferentes
            tecnologías. Cuando descubrí el desarrollo de software encontré mi
            gran pasión, un mundo lleno de maravillosas posibilidades.
          </p>
          <p class="text-gray-400 text-sm leading-7">
            Mi primer encuentro con la programación fue en el año 2020 cuando
            decidí incursionar en la programación de videojuegos como hobby, un
            año después quise llevar el desarrollo de software de manera
            profesional, eligiendo la programación web como punto de partida.
          </p>
        </div>
      </div>
    </Section>
    <Section
      background="light"
      className="relative py-10 flex flex-col gap-6 sm:gap-16 pt-[28rem] sm:pt-[34rem] md:pt-56"
      id="projects"
    >
      <div
        class="absolute top-[-22.25rem] sm:top-[-28.25rem] md:top-[-6.5rem] lg:top-[-9rem] left-0 flex gap-5 w-full flex-col md:flex-row items-center md:justify-center"
      >
        <PersonalDataCard icon="mdi:github">
          <p class="sm:text-2xl md:text-lg lg:text-2xl font-semibold">
            Más de {(<NumberOfRepos client:load />)} repos
          </p>
          <a
            href="https://github.com/francescoalterio"
            target="_blank"
            class="text-xs sm:text-sm underline text-gray-400">Ir a github</a
          >
        </PersonalDataCard>
        <PersonalDataCard primary icon="mdi:code-braces">
          <p class="sm:text-2xl md:text-lg lg:text-2xl font-semibold">
            Más de <span>{projects.length}</span> proyectos
          </p>
          <a
            href="/projects/all"
            class="text-xs sm:text-sm underline font-semibold">Ver Todos</a
          >
        </PersonalDataCard>
        <PersonalDataCard icon="mdi:youtube">
          <p class="sm:text-2xl md:text-lg lg:text-2xl font-semibold">
            Canal de Youtube
          </p>
          <a
            href="https://www.youtube.com/@francescox5989/videos"
            target="_blank"
            class="text-xs sm:text-sm underline text-gray-400">Ir a youtube</a
          >
        </PersonalDataCard>
      </div>
      <div class="flex justify-center md:justify-between items-center">
        <h2 class="text-2xl sm:text-3xl md:text-4xl">
          Mis Proyectos Favoritos
        </h2>
        <div class="hidden md:block">
          <PrimaryAnchor bgColor="primaryLight" href="/projects/all">
            Ver Todos
          </PrimaryAnchor>
        </div>
      </div>
      <ProjectList projectFilter="isFavorite" />
      <div class="w-full flex">
        <PrimaryAnchor bgColor={"customGray-100"} href="/projects/all">
          Ver todos los proyectos
        </PrimaryAnchor>
      </div>
    </Section>
    <Section
      background="dark"
      className="py-10 flex flex-col gap-10 items-center"
      id="skills"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl my-5">Habilidades</h2>
      <div class="flex flex-wrap gap-10 justify-center">
        {
          allSkills.map(
            ({ name, fileName, documentationURL, type, spanishType }) => (
              <Skill
                name={name}
                fileName={fileName}
                documentationURL={documentationURL}
                type={type}
                spanishType={spanishType}
              />
            )
          )
        }
      </div>
    </Section>
    <Section background="light" className=" flex flex-col items-center py-10">
      <h2 class="text-2xl sm:text-3xl md:text-4xl mt-5 mb-16">
        Certificaciones Oficiales
      </h2>
      <CourseList />
    </Section>
  </main>
  <Footer />
</BaseLayout>
