---
import { Icon } from "astro-icon";
import { type Course } from "../types";
import ProgressBar from "./ProgressBar.astro";
import BorderedAnchor from "./BorderedAnchor.astro";

interface Props extends Course {}

const { title, logo, porcentage, url, certificationUrl, platform } =
  Astro.props;

const imgPath = `/assets/courses/${logo}`;
const alt = logo.split(".")[0];
---

<article
  class="min-w-[19rem] sm:w-[25rem] md:w-[35rem] flex-1 bg-customGray-300 rounded-lg flex flex-col p-3 sm:p-5 gap-4 justify-between"
  id="course-card"
>
  <div class="flex gap-4 items-center">
    <img src={imgPath} alt={alt} class="w-12 h-12 object-contain" />
    <div class="flex flex-col gap-2">
      <h6 class="text-xs md:text-sm">{platform}</h6>
      <h4 class="text-sm md:text-base font-bold">{title}</h4>
    </div>
  </div>

  <div class="flex flex-col gap-4 items-center">
    <BorderedAnchor href={certificationUrl} isFull size="small"
      >Certification</BorderedAnchor
    >
  </div>
</article>
