---
import { Icon } from "astro-icon";
import RolPill from "./RolPill.astro";
import projectTypes from "../../db/projectTypes.json";

interface Props {
  id: number;
  name: string;
  fileName: string;
  description: string;
  projectType: string;
  technologies: string[];
  isEven: boolean;
}

const { name, fileName, technologies, description, projectType, isEven } =
  Astro.props;
const imageURL = `/assets/projects/${fileName}`;
const firstTwoTechs = technologies.slice(0, 4);

const container = isEven ? "" : "flex-row-reverse";
const dataContainer = isEven ? " items-end  right-0" : " items-start left-0";
---

<div class={`flex flex-1 relative ${container}`}>
  <img src={imageURL} alt="" class="w-3/5 rounded-sm" />
  <div
    class={`flex flex-col justify-center gap-y-8 px-5 absolute h-full w-1/2 ${dataContainer}`}
  >
    <RolPill bgColor={projectTypes[projectType.toLowerCase()].color}>
      <Icon name={projectTypes[projectType.toLowerCase()].icon} class="w-5" />
      {projectType}
    </RolPill>
    <h4 class="text-2xl font-semibold">{name}</h4>
    <p class="bg-customGray-200 p-6 rounded-sm">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nulla!
      Ipsam placeat, consectetur atque sed ad dolores tenetur assumenda sapiente
      consequatur quasi, facilis exercitationem saepe dignissimos eligendi
      asperiores nulla nostrum.
    </p>
    <div class="flex justify-center gap-1">
      {
        firstTwoTechs.map((x) => (
          <div class=" bg-customGray-100 whitespace-nowrap px-3 py-1 rounded-sm text-xs">
            {x}
          </div>
        ))
      }
    </div>
  </div>
</div>
