---
import projects from "../../db/projects.json";
import { type projectFilter } from "../types";
import ProjectCard from "./ProjectCard.astro";

interface Props {
  projectFilter: projectFilter;
  loading?: "eager" | "lazy";
}

const { projectFilter, loading } = Astro.props;

const filteredProjects =
  projectFilter === "All"
    ? projects
    : projectFilter === "isFavorite"
    ? projects.filter((x) => x.isFavorite)
    : projects.filter((x) => x.technologies.includes(projectFilter));
---

<div class="flex flex-wrap justify-between gap-x-12 mt-10">
  {
    filteredProjects.reverse().map((project, index) => {
      const isEven = index % 2 === 0;
      return (
        <ProjectCard
          id={project.id}
          name={project.name}
          fileName={project.fileName}
          alt={project.alt}
          technologies={project.technologies}
          description={project.description}
          projectType={project.projectType}
          isEven={isEven}
          loading={loading}
        />
      );
    })
  }
  <div
    class="flex relative min-w-full md:min-w-[290px] lg:min-w-[300px] xl:min-w-[300px] flex-1 justify-between flex-col"
  >
  </div>
  <div
    class="flex relative min-w-full md:min-w-[290px] lg:min-w-[300px] xl:min-w-[300px] flex-1 justify-between flex-col"
  >
  </div>
</div>
