---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import RolPill from "./RolPill.astro";
import projectTypes from "../../db/projectTypes.json";
import BorderedAnchor from "./BorderedAnchor.astro";

interface Props {
  id: number;
  name: string;
  fileName: string;
  alt: string;
  description: string;
  projectType: string;
  technologies: string[];
  isEven: boolean;
  loading?: "eager" | "lazy";
}

const {
  id,
  name,
  fileName,
  technologies,
  alt,
  description,
  projectType,
  isEven,
  loading,
} = Astro.props;
const imageURL = `/assets/projects/${fileName}`;
const firstThreeTechs = technologies.slice(0, 3);

const shortDescription = description.split(" ").slice(0, 25).join(" ");
---

<div
  class={`flex relative min-w-full md:min-w-[290px] lg:min-w-[300px] xl:min-w-[300px] 2xl:min-w-[370px] 3xl:min-w-[500px] flex-1 justify-between flex-col `}
>
  <div class="rounded-md">
    <Picture
      src={imageURL}
      widths={[1200]}
      aspectRatio="16:9"
      sizes="1200px"
      alt={alt}
      loading={loading || "eager"}
    />
  </div>
  <div class={`flex flex-col items-center relative top-[-50px] gap-6`}>
    <p class="bg-customGray-100 p-6 rounded-md w-11/12 text-xs">
      {shortDescription}<span class="text-primaryLight"
        >{description.length > shortDescription.length && "..."}</span
      >
    </p>
    <div class="flex w-full justify-between">
      <h4 class="text-2xl font-semibold">{name}</h4>
      <RolPill bgColor={projectTypes[projectType.toLowerCase()].color}>
        <Icon name={projectTypes[projectType.toLowerCase()].icon} class="w-5" />
        {projectType}
      </RolPill>
    </div>

    <div class="flex justify-center gap-1">
      {
        firstThreeTechs.map((x) => (
          <div class=" bg-customGray-100 whitespace-nowrap px-3 py-1 rounded-sm text-xs">
            {x}
          </div>
        ))
      }
      {
        technologies.length > 3 && (
          <div class=" bg-customGray-100 whitespace-nowrap px-3 py-1 rounded-sm text-xs text-primaryLight">
            ...
          </div>
        )
      }
    </div>
    <BorderedAnchor href={`/projects/${id}`} isFull>Learn More</BorderedAnchor>
  </div>
</div>
