---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import type {
  Technology,
  technologyType,
  technologyTypeSpanish,
} from "../types";
import RolPill from "./RolPill.tsx";
import technologyTypes from "../../db/technologyTypes.json";
import { capitalizeText } from "../utils/capitalizeText";

interface Props extends Technology {
  type: technologyType;
  spanishType: technologyTypeSpanish;
}

const { name, fileName, documentationURL, type, spanishType } = Astro.props;

const formattingTypeName = capitalizeText(spanishType);
---

<a
  href={documentationURL}
  class="flex flex-col gap-5 items-center w-56 cursor-pointer py-5 transition-all hover:bg-customGray-100 hover:rounded-md"
  target="_blank"
>
  <Image
    src={`/assets/technologies/${fileName}`}
    width={112}
    height={112}
    sizes="112px"
    alt={`${name}-logo`}
  />
  <p class="text-lg font-semibold">
    {name}
  </p>

  <RolPill bgColor={technologyTypes[type].color}>
    <Icon name={technologyTypes[type].icon} class="w-4" />
    <p class="text-xs">{formattingTypeName}</p>
  </RolPill>
</a>
