---
import projects from "../../../db/projects.json";
import Section from "../../components/Section.astro";
import { Image } from "astro:assets";
import { type Project } from "../../types";
import projectTypes from "../../../db/projectTypes.json";
import { Icon } from "astro-icon";
import RolPill from "../../components/RolPill.astro";
import BorderedAnchor from "../../components/BorderedAnchor.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavLayout from "../../layouts/NavLayout.astro";
import LogoName from "../../components/LogoName.astro";

export function getStaticPaths() {
  const toReturn = projects.map(({ id }) => {
    return {
      params: {
        project: id,
      },
    };
  });

  return toReturn;
}

const { project: projectID } = Astro.params;

const {
  name,
  fileName,
  alt,
  projectType,
  description,
  preview,
  repository,
  technologies,
} = projects.find((x) => Number(projectID) === x.id) as Project;
---

<BaseLayout
  HeadData={{
    title: `Francesco Alterio | ${name} | Portfolio`,
    description: description.slice(0, 10) + "...",
    ogTitle: `Francesco Alterio | ${name} | Portfolio`,
    ogDescription: description.slice(0, 10) + "...",
    ogURL: "https://francescoalterio.tech/",
    ogImage: `/assets/projects/${fileName}`,
  }}
>
  <NavLayout>
    <LogoName />
  </NavLayout>
  <div
    class="px-6 sm:px-12 md:px-16 flex max-w-screen-xl mx-auto gap-10 mt-10 relative flex-col lg:flex-row"
  >
    <div class="flex-1">
      <Image
        src={`/assets/projects/${fileName}`}
        width={1920}
        height={1080}
        sizes="1920px"
        alt={alt}
        class="lg:sticky lg:top-6"
      />
    </div>

    <main class="text-white flex-1 flex flex-col gap-8">
      <h1 class="text-4xl sm:text-5xl text-primaryLight font-semibold">
        {name}
      </h1>
      <section class="flex flex-col gap-8 pb-8">
        <div class="flex">
          <RolPill bgColor={projectTypes[projectType.toLowerCase()].color}>
            <Icon
              name={projectTypes[projectType.toLowerCase()].icon}
              class="w-5"
            />
            {projectType}
          </RolPill>
        </div>
        <p class="text-gray-400 text-sm">{description}</p>

        <div class="flex gap-2 w-full flex-wrap">
          {
            technologies.map((x) => (
              <div class=" bg-customGray-100 whitespace-nowrap px-3 py-1 rounded-sm text-xs">
                {x}
              </div>
            ))
          }
        </div>
        {
          preview && (
            <div class="flex gap-5 flex-col">
              {preview?.map((x) => (
                <BorderedAnchor href={x.url} isFull blank>
                  {x.name}
                </BorderedAnchor>
              ))}
            </div>
          )
        }
        <div class="flex gap-5 flex-col">
          {
            repository.map((x) => (
              <a
                href={x.url}
                target="_blank"
                class="px-4 py-2  text-white flex rounded-md border border-white items-center gap-2 transition-all hover:bg-opacity-10 hover:bg-white w-full justify-center"
              >
                <Icon name="mdi:github" class="w-7" />
                {x.name}
              </a>
            ))
          }
        </div>
      </section>
    </main>
  </div>
</BaseLayout>
