---
import "../styles/global.css";

const { HeadData, className } = Astro.props;
const { title, description, ogTitle, ogDescription, ogURL, ogImage } = HeadData;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:url" content={ogURL} />
    <meta property="og:image" content={ogImage} />
    <link rel="icon" href="/assets/favicon-yo.ico" />
  </head>
  <body class=`text-white bg-customGray-200 min-h-screen ${className}`>
    <slot />
  </body>
</html>
